html {
  scroll-behavior: smooth;
}

body {
  background-color: #111112;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 350px;
}

/* NAVBAR */

nav {
  background-color: #111112;
  position: sticky; 
  display: flex;
  justify-content: space-around;
  top: 0;
  font-weight: 500;
  z-index: 1000;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  animation: appearText 3.2s;
  margin: 0 13px;
}




.fader {
  display: flex;
  align-content: stretch;
  height: 55px;
  margin-top: 0;
  position: sticky;
  top: 45px;
  /*top: 132.18px; */
  z-index: 998;
  background: linear-gradient(to bottom, #111112 45%, transparent);
}

/* ABOUT SECTION */

.about img {
  z-index: 999;
  position: sticky;
  top: 177.18px;
  width: 300px;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(to bottom, #111112, transparent);
  mask-image: linear-gradient(to bottom, #111112, transparent);
  animation: fadeIn 5s;
}


.about {
  text-align: center;
  position: relative;
  margin: 0 0 80px;
}


.name {
  font-size: 55px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-item: center;
  bottom: calc(100% - 305px);
  left: 30px;
  font-weight: bold;
  animation: appearText 1.2s;
}

.name::after {
  content: '';
  visibility: hidden;
  border: 2px solid white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  animation: border 1.2s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.about p {
  font-size: 12px;
  text-align: left;
  animation: appearText 3.2s;
  margin-left: 30px;
  font-weight: 500;
}
.about .flex {
  display: flex;
  flex-direction: column-reverse;
}
.about span {
  padding: 30px 0;
  margin: 500px 0;
  font-weight: 600;
  font-size: 45px;
}

#fixed {
  font-size: 40px;
  z-index: 997;
  position: sticky;
  top: 60px;
}

.skills {
  font-size: 45px;
}
/* WORK SECTION */

.work {
  text-align: center;
}

.work h1 {
  background-color: #111112;
  position: -webkit-sticky;
  position: sticky;
  top: 74px;
}

.work img {
  display: inline-block;
  width: 350px;
  margin: 20px auto 100px;
  border-radius: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 180px;
  background-color: #111112;
  padding-bottom: 20px;
}


/* ANIMATIONS */

@keyframes border {
from {
  visibility: hidden;
  width: 0px;
}
to {
  visibility: visible;
  width: 262px;
}
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes appearText {

0% {
  color: transparent;
  transform: translateY(50%);
}

25% {
  color: transparent;
  transform: translateY(35%);
}

50% {
  color: transparent;
  transform: translateY(25%);
}

70% {
  color: white;
  transform: translateY(0%);
}

}




@media (max-width: 385px) {
  .work h1 {
    font-size: 25px;
  }

  .work img {
    width: 300px;
  }

  .about span {
    font-size: 38px;
  }

  #fixed {
    font-size: 36px;
  }

}
